@font-face {
    font-family: 'CartoonFont';
    src: url('./assets/fonts/From Cartoon Blocks.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CartoonFont', sans-serif;
    margin: 0;
    padding: 2% 8% 2% 8%;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

    background-image: url('./assets/abstract-white-painted-wall-texture.jpg');
    background-attachment: fixed;
    pointer-events: none;
    background-repeat: repeat;
    background-position: top left;
    background-size: 800px;
}